<!DOCTYPE html> 
<html ng-app="myapp">
<head> 
 
 <!--Angulare -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0-beta.2/angular.min.js"></script> 
<!-- Firebase -->
<script src="https://www.gstatic.com/firebasejs/live/3.0/firebase.js"></script>
<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyBTY8XluWdgHFadZLwhlCiD5aupBBTkezU",
    authDomain: "chatroom-60d2f.firebaseapp.com",
    databaseURL: "https://chatroom-60d2f.firebaseio.com",
    storageBucket: "chatroom-60d2f.appspot.com",
  };
  firebase.initializeApp(config);
</script>
<!-- AngularFire -->
<script src="https://cdn.firebase.com/libs/angularfire/0.9.2/angularfire.min.js"></script>
<!--Applicazione -->
<script src="js/app.js"></script> 
 
</head> 
<body ng-controller="myController">
    
    <p>Input something in the input box:</p>
	<p>Name : <input type="text" ng-model="names" placeholder="Enter name here"></p>
	<h1>Hello {{names}}</h1>
	<input type="text" ng-model="name" placeholder="Name">
    <input type="text" ng-model="msg" ng-keydown="addMessage($event)" placeholder="Message...">
	<div ng-repeat="msg in messages"><em>{{msg.from}}</em>: {{msg.body}}</div>
</body>
  
</html>
 
 