<h2>{{ message }}</h2>
	<div style="padding-top: 1cm;">
	  <div ng-show="firebaseUser">
		<p>Hello, {{ firebaseUser.displayName }}</p>
		<p>Hello, {{ firebaseUser.email }}</p>
		<p> uid: {{firebaseUser.uid}} </p>
		<div class = "row"> 
			<div class = "col s2">Name:</div> 
			<div class = "col s8"><input type="text" ng-model="name"></div>
			<div class = "col s2"><button ng-click = "rename()" class="waves-effect waves-light btn" type="submit">Change</button></div>
		</div>
		
		<button ng-click="auth.$signOut()">Sign Out</button>
	  </div>
	  <div ng-hide="firebaseUser">
		<p>Welcome, please sign in.</p>
		<button ng-click="signInG()">Sign In With Google</button>
	  </div>
	</div>


	