<h2>{{ message }}</h2>
	<div style="padding-top: 1cm;">
		<div class ="row">
		  <div class = "col s8 offset-s2">
			<div class = "card" ng-show="firebaseUser">
			  <div class="card-content">
				  <h5>{{ firebaseUser.displayName }}</h5>
				  <p><img-eng src= "{{photoURL}}" h= "150" w = "150" alt="Description"></img-eng></p>
				  <p><i class="material-icons left">email</i>{{ firebaseUser.email }}</p>
				  <!--<p> uid: {{firebaseUser.uid}} </p>-->
				  <p>Want a display name change?</p>
				  <div class = "row">
					<div class = "col s10"><input type="text" ng-model="name"></div>
					<div class = "col s2"><button ng-click = "rename()" class="waves-effect waves-light btn" type="submit">Change</button></div>
				  </div>
			  </div>
			  <button class="waves-effect waves-light btn-flat" ng-click="auth.$signOut()">Sign Out</button>
			</div>
			<div ng-hide="firebaseUser">
			  <p>Welcome, please sign in.</p>
			  <input type="image" ng-click="signInG()" src = "btn_google_signin_light_normal_web.png" onclick = "btn_google_signin_light_pressed_web.png" />
			</div>
		  </div>
		</div>
	</div>
