	<div class = "container">
		<h2>{{ message }}</h2>		
		<div ng-show="firebaseUser">
		<div class="card">
				<div class = "row"></div>
		<div class = "row"></div>
		<div class = "row"></div>
			<div class="row center align">
				<h3>Summary</h3>
				<ngcart-summary></ngcart-summary>
			</div>
			<div class="divider"></div>
			<div class="row">
			<div class = "col s12"><h3>&emsp;Add to Cart</h3></div>
			</div>
			
			<div class = "row">
				<div class = "col s3 m3 l3">&emsp;My Item #1</div>
				<div class = "col s3 m2 l2">$12.99</div>
				<div class = "col l2 hide-on-med-and-down">Max: 5</div>
				<ngcart-addtocart id="item1" name="My Item #1" price="12.99" quantity="1" quantity-max="5">Add</ngcart-addtocart>
			</div>
			<div class = "row">
				<div class = "col s3 m3 l3">&emsp;My Item #1a</div>
				<div class = "col s3 m2 l2">$14.99</div>
				<div class = "col l2 hide-on-med-and-down">Max: 5</div>
				<ngcart-addtocart id="item1a" name="My Item #1a" price="14.99" quantity="1" quantity-max="5">Add</ngcart-addtocart>
			</div>
			<div class = "row">
				<div class = "col s3 m3 l3">&emsp;My Item #2</div>
				<div class = "col s3 m2 l2">$15.29</div>
				<div class = "col l2 hide-on-med-and-down">Max: 5</div>
				<ngcart-addtocart id="item2" name="My Item #2" price="15.29" quantity="1" quantity-max="5">Add</ngcart-addtocart>
			</div>
			<div class = "row">
				<div class = "col s3 m3 l3">&emsp;My Item #2a</div>
				<div class = "col s3 m2 l2">$25.29</div>
				<div class = "col l2 hide-on-med-and-down">Max: 5</div>
				<ngcart-addtocart id="item2a" name="My Item #2a" price="25.29" quantity="1" quantity-max="5">Add</ngcart-addtocart>
			</div>	
			<div class = "row">
				<div class = "col s3 m3 l3">&emsp;My Item #3</div>
				<div class = "col s3 m2 l2">$25.75</div>
				<div class = "col l2 hide-on-med-and-down">Max: 10</div>
				<ngcart-addtocart id="item3" name="My Item #3" price="25.75" quantity="1" quantity-max="10">Add</ngcart-addtocart>
			</div>	
			<div class = "row">
				<div class = "col s3 m3 l3">&emsp;My Item #3a</div>
				<div class = "col s3 m2 l2">$32.75</div>
				<div class = "col l2 hide-on-med-and-down">Max: 10</div>
				<ngcart-addtocart id="item3a" name="My Item #3a" price="32.75" quantity="1" quantity-max="10">Add</ngcart-addtocart>
			</div>
			<div class = "row">
				<div class = "col s3 m3 l3">&emsp;My Item #4</div>
				<div class = "col s3 m2 l2">$29.25</div>
				<div class = "col l2 hide-on-med-and-down">Max: 10</div>
				<ngcart-addtocart id="item4" name="My Item #4" price="29.25" quantity="1" quantity-max="10">Add</ngcart-addtocart>
			</div>
			<div class = "row"></div>
		</div>
		</div>
		<div class = "card" ng-show="firebaseUser">
		<div class = "row"></div>
			<h3>&emsp;Cart</h3>
			<ngcart-cart></ngcart-cart>
			<div class="divider"></div>
			<div class="row center-align">
				<div class="col s12">
					<h3>Checkout</h3>			
					<div class="row">
						<div class="col s12 l4">
							<h4>Debit</h4>
							<ngcart-checkout service="log">Checkout</ngcart-checkout>
						</div>
						<div class="col s12 l4">
							<h4>Credit</h4>
							<ngcart-checkout service="http" settings="httpSettings">Checkout </ngcart-checkout>
						</div>
						<div class="col s12 l4">
							<h4>Paypal</h4>
							<ngcart-checkout service="paypal" settings="payPalSettings"></ngcart-checkout>
						</div>
					</div>	
				</div>
			</div>
		</div>
</div>
		<script type="text/ng-template" id="template/ngCart/summary.html"><div class="row">
 
			<div class="col-md-6">{{ ngCart.getTotalItems() }}
				<ng-pluralize count="ngCart.getTotalItems()" when="{1: 'item', 'other':'items'}"></ng-pluralize>
				<br />{{ ngCart.totalCost() | currency }}
			</div>
		</div>
		</script>
		<script type="text/ng-template" id="template/ngCart/cart.html">
		<div class="alert alert-warning center" role="alert" ng-show="ngCart.getTotalItems() === 0">Your cart is empty</div>
		<div class="table-responsive col-lg-12" ng-show="ngCart.getTotalItems() > 0">

			<table class="table table-striped ngCart cart">

				<thead>
				<tr>
					<th></th>
					<th></th>
					<th>Quantity</th>
					<th>Amount</th>
					<th>Total</th>
				</tr>
				</thead>
				<tfoot>
				<tr ng-show="ngCart.getTax()">
					<td></td>
					<td></td>
					<td></td>
					<td>Tax ({{ ngCart.getTaxRate() }}%):</td>
					<td>{{ ngCart.getTax() | currency }}</td>
				</tr>
				<tr ng-show="ngCart.getShipping()">
					<td></td>
					<td></td>
					<td></td>
					<td>Shipping:</td>
					<td>{{ ngCart.getShipping() | currency }}</td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td>Total:</td>
					<td>{{ ngCart.totalCost() | currency }}</td>
				</tr>
				</tfoot>
				<tbody>
				<tr ng-repeat="item in ngCart.getCart().items track by $index">
					<td><span ng-click="ngCart.removeItemById(item.getId())" class="glyphicon glyphicon-remove"></span></td>

					<td>{{ item.getName() }}</td>
					<td><a class="btn-floating waves-effect waves-light red" ng-class="{'disabled':item.getQuantity()==1}"
							  ng-click="item.setQuantity(-1, true)"><i class="material-icons">remove</i></a>&nbsp;&nbsp;
						{{ item.getQuantity() | number }}&nbsp;&nbsp;
						<a class="btn-floating waves-effect waves-light red" ng-click="item.setQuantity(1, true)"><i class="material-icons">add</i></a></td>
					<td>{{ item.getPrice() | currency}}</td>
					<td>{{ item.getTotal() | currency }}</td>
				</tr>
				</tbody>
			</table>
		</div>

		</script>

		<script type="text/ng-template" id="template/ngCart/addtocart.html">
			<div ng-show="attrs.id">
					<div class = "col l1 hide-on-med-and-down">
					<span ng-show="quantityMax" class="right">
							<input class="right" ng-model="amount">
					</span>
					</div>
					<div class = "col s2 l2">
						<a class="waves-effect waves-teal btn right"
					   ng-click="ngCart.addItem(id, name, price, amount, data)"
					   ng-transclude></a>
				</div>
				<div class = "col s1 l1">
					<div ng-hide="inCart()">
						<a class="btn disabled">Remove</a>
					</div>
					<div ng-show="inCart()">
						<a class="waves-effect waves-teal btn" ng-click="ngCart.removeItemById(id)">Remove</a>
					</div>
				</div>
			</div>
		</script>

		<script type="text/ng-template" id="template/ngCart/checkout.html">
			
		<div ng-if="service=='http' || service == 'log'">
			<button class="btn btn-primary" ng-click="checkout()" ng-disabled="!ngCart.getTotalItems()" ng-transclude>Checkout</button>
			<div class ="row"></div>
		</div>


		<div ng-show="service=='paypal'">

			<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top" ng-show="ngCart.getTotalItems()">
				<input type="hidden" name="cmd" value="_xclick">
				<input type="hidden" name="business" value="matthew-wang@sbcglobal.net">
				<input type="hidden" name="lc" value="CA">
				<input type="hidden" name="item_name" value="{{ settings.paypal.item_name }}">
				<input type="hidden" name="item_number" value="{{ settings.paypal.item_number }}">
				<input type="hidden" name="amount" value="{{ ngCart.getSubTotal()}}">
				<input type="hidden" name="currency_code" value="{{ settings.paypal.currency_code }}">
				<input type="hidden" name="button_subtype" value="services">
				<input type="hidden" name="no_note" value="0">
				<input type="hidden" name="tax_rate" value="{{ ngCart.getTaxRate()}}">
				<input type="hidden" name="shipping" value="{{ ngCart.getShipping()}}">
				<input type="hidden" name="bn" value="PP-BuyNowBF:btn_buynowCC_LG.gif:NonHostedGuest">
				<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
				<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
			</form>

		</div>
			
		</script>
</html>
