<!DOCTYPE html>
<html ng-app = 'myApp'>
  <head>
<!--Import Google Font -->
  <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta charset="utf-8">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.js"></script> 
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0/angular-route.js"></script> 
	<script src="http://angular-ui.github.io/ui-router/release/angular-ui-router.js"></script>
	<script src="https://www.gstatic.com/firebasejs/3.0.3/firebase.js"></script>
	<script>
	  // Initialize Firebase
	  var config = {
		apiKey: "AIzaSyBTY8XluWdgHFadZLwhlCiD5aupBBTkezU",
		authDomain: "chatroom-60d2f.firebaseapp.com",
		databaseURL: "https://chatroom-60d2f.firebaseio.com",
		storageBucket: "chatroom-60d2f.appspot.com",
	  };
	  firebase.initializeApp(config);
	</script>
    <script src="https://cdn.firebase.com/libs/angularfire/2.0.1/angularfire.min.js"></script>
	<script type="text/javascript" src = "/js/app.js"></script> 
	<script src="/ngCart-master/dist/ngCart.js"></script>
	<title>Welcome to ChatRoom</title>

  </head>
	

	<body ng-controller="storeCtrl" style="background-color:#eee;">
  
    <nav>
    <div class="nav-wrapper">
      <a href="/index.html" class="brand-logo">Home</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/store.html">Store</a></li>
		<li><a href="/forums.html">Forums</a></li>
        <li><a href="/chat.html">ChatRoom</a></li>
        <li ng-hide="firebaseUser"><a href="/login.html">Login</a></li>
		<li ng-show="firebaseUser"><a href="/login.html">Account</a></li>
      </ul>
    </div>
  </nav>
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script type="text/javascript" src="js/materialize.min.js"></script>
	<div class="container">
	<h2 >{{ message }}</h2>
	<div class = "row"> 
	<div class="card">
		<div class="row center align">
			<h3>Summary</h3>
			<ngcart-summary></ngcart-summary>
		</div>
		<hr/>
	<h3>Add to Cart</h3>
	<div class="row">
		<div class="col s6">
				<h4>My Item #1</h4>
				<p> $12.99</p>
				<ngcart-addtocart id="item1" name="My Item #1" price="12.99" quantity="1" quantity-max="5">Add to Cart</ngcart-addtocart>
		</div>
		<div class="col s6">
				<h4>My Item #1a</h4>
				<p> $14.99</p>
				<ngcart-addtocart id="item1a" name="My Item #1a" price="14.99" quantity="1" quantity-max="5">Add to Cart</ngcart-addtocart>
		</div>
		<div class="col s6">
			<h4>My Item #2</h4>
			<p> $15.29</p>
			<ngcart-addtocart id="item2" name="My Item #2" price="15.29" quantity="1" quantity-max="5">Add to Cart</ngcart-addtocart>
		</div>
		<div class="col s6">
			<h4>My Item #2a</h4>
			<p> $25.29</p>
			<ngcart-addtocart id="item2a" name="My Item #2a" price="25.29" quantity="1" quantity-max="5">Add to Cart</ngcart-addtocart>
		</div>
		<div class="col s6">
			<h4>My Item #3</h4>
			<p> $25.75</p>
			<ngcart-addtocart id="item3" name="My Item #3" price="25.75" quantity="1" quantity-max="10">Add to Cart</ngcart-addtocart>
		</div>
		<div class="col s6">
			<h4>My Item #3a</h4>
			<p> $32.75</p>
			<ngcart-addtocart id="item3a" name="My Item #3a" price="32.75" quantity="1" quantity-max="10">Add to Cart</ngcart-addtocart>
		</div>
		<div class="col s6">
			<h4>My Item #4</h4>
			<p> $29.25</p>
			<ngcart-addtocart id="item4" name="My Item #4" price="29.25" quantity="1" quantity-max="10">Add to Cart</ngcart-addtocart>        
		</div>
	</div>
	<hr/>
	</div>
	</div>
	
	<div class = "card">
		<h3>Cart</h3>
		<ngcart-cart></ngcart-cart>
		<hr/>
		<div class="row center-align">
			<div class="col s12">
				<h3>Checkout</h3>			
				<div class="row">
					<div class="col s12">
						<h4>service 'log'</h4>
						<ngcart-checkout service="log">Checkout</ngcart-checkout>
					</div>
					<div class="col s12">
						<h4>service 'http'</h4>
						<ngcart-checkout service="http" settings="httpSettings">Checkout </ngcart-checkout>
					</div>
					<div class="col s12">
						<h4>service 'paypal'</h4>
						<ngcart-checkout service="paypal" settings="payPalSettings"></ngcart-checkout>
					</div>
				</div>	
			</div>
		</div>
	</div>
	</div>
	
	</body>
	
	<footer class="page-footer">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">ChatRoom</h5>
				<p class="grey-text text-lighten-4">A simple ChatRoom in the style of IRC rooms, requiring only a google login. Designed using Firebase, Angular and MaterializeCSS.</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="https://www.firebase.com/">Firebase</a></li>
                  <li><a class="grey-text text-lighten-3" href="https://angularjs.org/">Angular</a></li>
                  <li><a class="grey-text text-lighten-3" href="http://http://materializecss.com/">MaterializeCSS</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2016 Copyright Matthew Wang and Loren Yeung
            <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
            </div>
          </div>
        </footer>
		<!-- Templates -->
		<script type="text/ng-template" id="template/ngCart/summary.html"><div class="row">
 
			<div class="col-md-6">{{ ngCart.getTotalItems() }}
				<ng-pluralize count="ngCart.getTotalItems()" when="{1: 'item', 'other':'items'}"></ng-pluralize>
				<br />{{ ngCart.totalCost() | currency }}
			</div>
		</div>
		</script>
		<script type="text/ng-template" id="template/ngCart/cart.html">
		<div class="alert alert-warning" role="alert" ng-show="ngCart.getTotalItems() === 0">Your cart is empty</div>
		<div class="table-responsive col-lg-12" ng-show="ngCart.getTotalItems() > 0">

			<table class="table table-striped ngCart cart">

				<thead>
				<tr>
					<th></th>
					<th></th>
					<th>Quantity</th>
					<th>Amount</th>
					<th>Total</th>
				</tr>
				</thead>
				<tfoot>
				<tr ng-show="ngCart.getTax()">
					<td></td>
					<td></td>
					<td></td>
					<td>Tax ({{ ngCart.getTaxRate() }}%):</td>
					<td>{{ ngCart.getTax() | currency }}</td>
				</tr>
				<tr ng-show="ngCart.getShipping()">
					<td></td>
					<td></td>
					<td></td>
					<td>Shipping:</td>
					<td>{{ ngCart.getShipping() | currency }}</td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td>Total:</td>
					<td>{{ ngCart.totalCost() | currency }}</td>
				</tr>
				</tfoot>
				<tbody>
				<tr ng-repeat="item in ngCart.getCart().items track by $index">
					<td><span ng-click="ngCart.removeItemById(item.getId())" class="glyphicon glyphicon-remove"></span></td>

					<td>{{ item.getName() }}</td>
					<td><a class="btn-floating waves-effect waves-light red" ng-class="{'disabled':item.getQuantity()==1}"
							  ng-click="item.setQuantity(-1, true)"><i class="material-icons">remove</i></a>&nbsp;&nbsp;
						{{ item.getQuantity() | number }}&nbsp;&nbsp;
						<a class="btn-floating waves-effect waves-light red" ng-click="item.setQuantity(1, true)"><i class="material-icons">add</i></a></td>
					<td>{{ item.getPrice() | currency}}</td>
					<td>{{ item.getTotal() | currency }}</td>
				</tr>
				</tbody>
			</table>
		</div>

		</script>
		<script type="text/ng-template" id="template/ngCart/addtocart.html"><div ng-hide="attrs.id">
			<a class="btn btn-lg btn-primary" ng-disabled="true" ng-transclude></a>

		</div>
		<div ng-show="attrs.id">
			<div class = "right-align">
				<span ng-show="quantityMax">
						<input class = "col s2" ng-model="amount">
				</span>
				<a class="btn btn-sm btn-primary"
				   ng-click="ngCart.addItem(id, name, price, amount, data)"
				   ng-transclude></a>
			</div>
			<mark  ng-show="inCart()">
				This item is in your cart. <a ng-click="ngCart.removeItemById(id)" style="cursor: pointer;">Remove</a>
			</mark>
		</div>
		</script>

		<script type="text/ng-template" id="template/ngCart/checkout.html">
			
		<div ng-if="service=='http' || service == 'log'">
			<button class="btn btn-primary" ng-click="checkout()" ng-disabled="!ngCart.getTotalItems()" ng-transclude>Checkout</button>
		</div>


		<div ng-if="service=='paypal'">

			<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top" ng-show="ngCart.getTotalItems()">
				<input type="hidden" name="cmd" value="_xclick">
				<input type="hidden" name="business" value="matthew-wang@sbcglobal.net">
				<input type="hidden" name="lc" value="CA">
				<input type="hidden" name="item_name" value="{{ settings.paypal.item_name }}">
				<input type="hidden" name="item_number" value="{{ settings.paypal.item_number }}">
				<input type="hidden" name="amount" value="{{ ngCart.getSubTotal()}}">
				<input type="hidden" name="currency_code" value="{{ settings.paypal.currency_code }}">
				<input type="hidden" name="button_subtype" value="services">
				<input type="hidden" name="no_note" value="0">
				<input type="hidden" name="tax_rate" value="{{ ngCart.getTaxRate()}}">
				<input type="hidden" name="shipping" value="{{ ngCart.getShipping()}}">
				<input type="hidden" name="bn" value="PP-BuyNowBF:btn_buynowCC_LG.gif:NonHostedGuest">
				<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
				<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
			</form>

		</div>
			
		</script>
</html>
